<div ng-controller="financeViewCtrl as financeCtrl">
  <div ng-repeat="card in financeCtrl.cards | orderBy: 'apr'">
    <div>
      <span ng-click="financeCtrl.showCard(card)" ng-class="{
        'glyphicon glyphicon-chevron-right': financeCtrl.cardShowing != card,
        'glyphicon glyphicon-chevron-down': financeCtrl.cardShowing == card
      }"></span>
      <span>{{ card.name }}</span>
      <span>{{ card.apr }}% APR</span>
    </div>
    <div ng-show="financeCtrl.cardShowing == card">
      <img class="card-image" ng-src="img/{{card.code}}.png">
    </div>

  </div>
</div>
